# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# Lyx Temp Files
*.lyx~
Article/figure/
Article/*.svg
Article/*.csv
Article/*.sty